<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
  <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
  <title>Index</title>
</head>
<body>
<div class="container">
  <h2>Index</h2>
  <div class="list-group">
    <a href="/admin/students/" class="list-group-item list-group-item-action active">Student list</a>
  </div>
</div>

</body>
</html>
