<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
  <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
  <title>Students</title>
</head>
<body>
<div class="container">
  <h2>Student list</h2>
  <div>
    <button class="right-align btn btn-primary" onclick="location.href='./add'">学生登録</button>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>氏名</th>
      <th>入学年</th>
    </tr>
    </thead>
    <tbody>
    <tr th:inline="text" th:each="student : ${students}" th:object="${student}">
      <td>[[*{id}]]</td>
      <td><a th:href="@{'/admin/students/__*{id}__'}">[[*{getFullName()}]]</a></td>
      <td>[[*{admissionYear}]]</td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
